## generic files to ignore
*~
*.lock
*.DS_Store
*.swp
out/
bin/
target/
Thumbs.db
*.iml
*.idea
*.classpath
*.project
*.settings/
.sonar/
build.properties
sonar-project.properties
Classifiers-Stats/
Association Rules/